{
  "presets": [["env", { "modules": false }], "stage-0", "react"],
  "plugins": [
    [
      "babel-plugin-root-import",
      [
        {
          "rootPathSuffix": "src",
          "rootPathPrefix": "~"
        },
        {
          "rootPathSuffix": "node_modules",
          "rootPathPrefix": "η"
        }
      ],
      "react-hot-loader/babel"
    ]
  ]
}
