.container {
  position: relative;
  padding: 20px 30px;
  @media (--s) {
    padding: 15px 0px;
  }
  @media (--l) {
    padding: 20px 10px;
  }
  max-width: 90vw;
}
.logout {
  margin-top: 15px;
}

.back,
.close {
  position: absolute;
  cursor: pointer;
  width: 33px;
  height: 18px;
  padding-left: 5px;
  top: -3px;
  right: 14px;
  @media (--xs) {
    top: -7px;
    right: -14px;
  }
  @media (--s) {
    top: -7px;
    right: -16px;
  }
  @media (--l) {
    top: 1px;
    right: -6px;
  }
}

.back {
  top: -2px;
  left: 4px;
  right: auto;
  @media (--m) {
    left: 32px;
    right: auto;
  }
  @media (--s) {
    top: -9px;
    left: 4px;
    right: auto;
  }
  @media (--xs) {
    top: -9px;
    left: 3px;
    right: auto;
  }
}

.edit {
  position: absolute;
  cursor: pointer;
  width: 25px;
  height: 20px;
  padding-left: 5px;
  bottom: -10px;
  right: 20px;
  opacity: 0;
}
