.container {
  position: relative;
  padding: 20px 30px;
  @media (--s) {
    padding: 10px 0px;
  }
  @media (--l) {
    padding: 20px 10px;
  }
  max-width: 90vw;
}
.logout {
  margin-top: 15px;
}
.close {
  position: absolute;
  cursor: pointer;
  width: 33px;
  height: 18px;
  padding-left: 5px;
  top: -3px;
  @media (--xs) {
    top: -7px;
    right: -14px;
  }
  @media (--s) {
    top: -7px;
    right: 16px;
  }
  @media (--l) {
    top: 1px;
    right: -3px;
  }
}
.edit {
  position: absolute;
  cursor: pointer;
  width: 25px;
  height: 20px;
  padding-left: 5px;
  bottom: -10px;
  right: 20px;
  opacity: 0;
}
