.card {
  position: relative;
  width: inherit;
  background: var(--cardColor);
  padding: 15px 15px 7px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 10px 30px rgba(100, 100, 100, 0.08),
    0 3px 8px rgba(0, 0, 0, 0.01);
  height: auto;
  max-height: 100%;

  &:hover {
    transform: translateY(-2px);
    transition: all 0.45s ease;

    /* & .leadImg {
      opacity: 0.95;
    } */
  }

  @media (--s) {
    max-width: 100%;
    width: 100%;
  }

  a {
    word-break: break-all;
    font-family: var(--sansFont);
    color: var(--actionColor);
    font-weight: 500;
    font-size: 13px;
    text-decoration: underline;
  }
  .leadImg {
    /* position: absolute;
    top: -10px;
    right: -10px;
    width: 90%;  */
    height: 180px;
    pointer-events: none;

    /* opacity: 0; 
    transition: all 0.5s ease; */

    img {
      width: 100%;
    }
  }

  .breadcrumbs {
    font-weight: 500;
    padding-top: 5px;
    color: rgb(0, 0, 0, 0.5);
    font-family: var(--sansFont);

    & .expirationDate {
      color: var(--actionColor);
      text-align: center;
    }

    & .couponOff {
      background-color: pink;
      display: block;
      margin: 0 auto 6px auto;
      text-align: center;
      border-radius: 5px;
      padding: 5px 0;
      font-size: 18px;
      width: 105px;
      top: 0px;
      left: calc(100% - 105px);
      position: absolute;
    }

    & .courseStats {
      & .courseRating {
        float: left;
      }

      & .courseStudents {
        float: right;
      }
    }
  }

  .main {
    padding: 10px 0px;
    font-size: 16px;
    a {
      color: var(--actionColor);
      text-decoration: none;
    }
    h2 {
      font-weight: 600;
      text-align: center;
    }
  }
  .tags {
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
    flex-direction: row;
    font-family: var(--consoleFont);
    padding: 20px 0 10px;
    justify-content: center;

    li {
      font-size: 11px;

      &.nextTag {
        padding-right: 5px;
      }
    }
  }

  .headline {
    text-align: center;
  }

  h2,
  h3 {
    font-family: var(--sansFont);
  }

  .addedDate {
    text-align: center;
    font-size: 12px;
    color: var(--darkGrey);
  }

  .cardNumber {
    position: relative;
    margin: 7px auto;
    font-family: var(--consoleFont);
    color: rgb(0, 0, 0, 0.75);
    font-size: 12px;
    color: var(--darkGrey);
    p {
      text-align: center;
    }
  }
}
