.card {
  position: relative;
  width: inherit;
  background: var(--cardColor);
  padding: 15px 15px 30px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 10px 30px rgba(100, 100, 100, 0.08),
    0 3px 8px rgba(0, 0, 0, 0.01);
  height: auto;
  max-height: 100%;

  &:hover {
    transform: translateY(-2px);
    transition: all 0.45s ease;

    /* & .leadImg {
      opacity: 0.95;
    } */
  }

  @media (--s) {
    max-width: 100%;
    width: 100%;
  }

  a {
    word-break: break-all;
    font-family: var(--consoleFont);
    color: var(--actionColor);
    font-weight: 400;
    font-size: 12px;
    text-decoration: underline;
  }
  .leadImg {
    /* position: absolute;
    top: -10px;
    right: -10px;
    width: 90%;  */
    height: 180px;
    pointer-events: none;

    /* opacity: 0; 
    transition: all 0.5s ease; */

    img {
      width: 100%;
    }
  }

  .breadcrumbs {
    font-weight: 650;
    padding-top: 5px;
    color: rgb(0, 0, 0, 0.5);
    font-family: var(--textFont);
  }
  .main {
    padding: 10px 0px;
    font-size: 16px;
    a {
      color: var(--actionColor);
      text-decoration: none;
    }
  }
  .tags {
    position: absolute;
    display: flex;
    bottom: 5px;
    padding: 5px;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    font-size: 11px;
    font-family: var(--consoleFont);
    left: 10px;
    padding: 5px 0px;

    li {
      padding: 0 5px;
    }
  }

  .headline {
  }

  h2,
  h3 {
    font-family: var(--sansFont);
  }

  .cardNumber {
    position: relative;
    margin: 7px auto;
    font-family: var(--consoleFont);
    color: rgb(0, 0, 0, 0.75);

    p {
      text-align: center;
    }
  }
}
