.wrapper {
  font-family: var(--textFont);
  width: 100%;

  @media (--s) {
    width: 100%;
  }

  .spinner {
    position: relative;
    margin: 30px auto;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    path {
      fill: var(--cardColor);
      fill-opacity: 1;
    }
  }

  .searchResultsCount {
    text-align: center;
    font-family: var(--consoleFont);
    margin: 5px 0 25px;
    color: var(--titleColor);
  }
}
