.wrapper {
  min-width: 250px;
  display: flex;
  flex-direction: column;
  margin: 20px;

  line-height: 2;
  font-size: 11px;
  font-family: var(--consoleFont);
  color: var(--mainColor);

  .intro {
    margin-left: 5px;
  }

  @media(--s) {
    display: none;
  }
}
