.container {
  display: flex;
  max-height: 76vh;
  @media (--m) {
    flex-direction: column;
    overflow: auto;
  }

  .headline {
    padding-top: 28px;
    clear: both;

    h3 {
      font-size: 18px;
    }
  }

  .left {
    max-width: 100%;
    padding: 0px 10px 10px;
    @media (--l) {
      padding-top: 10px;
      overflow: auto;
      max-width: 40%;
      padding-right: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .content {
      overflow: auto;
    }

    .main {
      padding: 10px 0;
      margin-bottom: 0;
      font-size: 16px;
      a {
        color: var(--actionColor);
        word-wrap: break-word;
        text-decoration: none;
      }

      .detail-audience {
        font-weight: 500;
        font-style: italic;
      }
    }

    .leadImg {
      margin: 5px 0px 20px;
      display: block;
      width: 100%;
      padding: inherit;
      @media (--l) {
        margin: 10px 0px 20px;
      }
    }

    .downIcon {
      display: none;
      position: relative;
      top: -67px;
      left: 50%;
      margin-left: -15px;
      padding: 6px;
      width: 38px;
      height: 38px;
      border-radius: 19px;
      cursor: pointer;
      background-color: var(--cardColor);
      @media (--m) {
        display: block;
      }
      @media (--xxs) {
        display: none;
      }
    }

    .link {
      padding: 0;
      font-size: 16px;
      display: flex;
      flex-direction: column;
      align-items: center;

      & a {
        width: auto;
      }
    }

    .expirationDateModal {
      font-family: var(--sansFont);
      color: var(--actionColor);
      float: right;
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
    }

    .courseDuration {
      font-family: var(--sansFont);
      margin-top: 15px;
      font-weight: 300;
    }

    .tags {
      margin-top: 15px;
      padding-left: 3px;
    }
  }
  .right {
    max-width: 100%;
    border-left: solid 1px var(--lineColor);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-top: 7px;
    font-size: 16px;

    @media (--l) {
      max-width: 60%;
      overflow: auto;
      padding-left: 15px;
      padding-top: 14px;
    }
    @media (--m) {
      padding-top: 7px;
      border-left: none;
      border-top: solid 1px var(--lineColor);
    }
    .courseContent {
      width: inherit;

      img {
        width: 100%;
      }

      a {
        word-wrap: break-word;
      }

      strong {
        font-weight: 600;
      }

      h1 {
        font-size: 24px;
        font-weight: 600;
      }

      h2 {
        font-size: 18px;
        font-weight: 600;
        padding-bottom: 10px;
      }

      h3 {
        font-size: 16px;
        font-weight: 600;
      }

      h4 {
        font-size: 14px;
        font-weight: 600;
      }

      h5 {
        font-size: 12px;
        font-weight: 600;
      }

      h6 {
        font-size: 10px;
        font-weight: 600;
      }

      p {
        margin-top: 0;
        margin-bottom: 10px;
      }

      ul {
        padding-left: 20px;
        margin: 0.25em;
      }

      ul li {
        padding-left: 10px;
        list-style-type: circle;
      }

      li {
        word-wrap: break-all;
      }

      li > p {
        margin-top: 16px;
      }
    }
  }
  .left a,
  .right h3 a {
    color: var(--actionColor);
  }

  .left a {
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: 500;
    background-color: var(--actionBgColor);
  }

  .right h3 {
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 10px;
  }
}
