.container {
  padding: 7px;
  display: inline-block;
  margin-right: 13px;

  .tag.primaryColor {
    background-color: var(--actionColor);
    color: var(--titleColor);
  }
  .tag.primaryColor::before {
    border-right-color: var(--actionColor);
  }
  .tag::after {
    background: var(--titleColor) !important;
  }

  .tag.blue {
    background-color: var(--actionColor);
    color: var(--titleColor);
  }
  .tag.blue::before {
    border-right-color: var(--actionColor);
  }
  .tag {
    cursor: pointer;
    background-color: var(--titleColor);
    display: inline-block;
    border-radius: 0px 8px 8px 0px !important;
    position: relative;
    color: var(--dark);
    line-height: 14px;
    padding: 4px 4px 4px 8px;
    margin-left: 5px;
    font-size: 14px;
    transition: opacity 0.2s;
    font-weight: 500;
  }
  .tag::before {
    content: '';
    position: absolute;
    left: -17px;
    top: 0;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-right: 17px solid var(--titleColor);
    border-bottom: 17px solid transparent;
  }
  .tag::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 6px;
    background: var(--dark);
    left: -1px;
    top: 13px;
  }
}
